# IntelliJ
.idea/

# Compiled files
*.class
*.jar

# Logs
*.log

# Package Files
*.war
*.ear
*.zip
*.tar.gz

# Maven
target/

# Gradle
build/

# Eclipse
bin/
.settings/
.classpath
.project

# OS-specific files
.DS_Store
Thumbs.db
